<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/png" sizes="48x48" href="/overops-favicon-48x48.png">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">
        <title>OverOps Quality Report - Still Processing</title>
        <style>
            {{> standaloneStyle}}
            {{> style}}
        </style>
    </head>
    <body>
    <div class="overops-quality-report">
        <div class="d-flex align-center mt-3">
            <div class="mr-2">
                {{svg "web/img/overops-logo.svg"}}
            </div>
            <h1>Sorry for the wait. Events are still being processed.</h1>
        </div>
        <ul class="unstyled">
            <li>
                <p>Your report will be ready in <strong id="countDown" class="bold"></strong> seconds</p>
            </li>
        </ul>
    </div>
    <script>
        const TIME_TO_WAIT = {{countDown}};
        const countDown = document.getElementById("countDown");
        const urlParams = new URLSearchParams(window.location.search);

        function updateClock(){
            let input = new Date(urlParams.get('urlCreationTimestamp') * 1000);
            let current = new Date();
            let elapsed = Math.round((current - input) / 1000);
            let secondsLeft = TIME_TO_WAIT - elapsed;
            if(secondsLeft <= 0){
                urlParams.delete('urlCreationTimestamp');
                window.location.search = urlParams.toString();
            }else{
                countDown.innerText = secondsLeft;
                setTimeout(updateClock, 1000);
            }
        }
        updateClock();
    </script>
    </body>
</html>