.overops-quality-report a {
    text-decoration: none;
}
.overops-quality-report a:hover {
    text-decoration: underline;
}
.overops-quality-report h1 {
    margin: 0;
    font-size: 22px;
}
.overops-quality-report h3 {
    margin: 0 0 0.5em;
    font-size: 16px;
}
.overops-quality-report h4 {
    margin: 0;
    font-size: 14px;
}
.overops-quality-report p {
    line-height: 1;
    margin: 4px 0 16px 0;
}
.overops-quality-report .d-flex {
    display: flex;
}
.overops-quality-report .align-center {
    align-items: center;
}
.overops-quality-report .mr-1 {
    margin-right: 8px;
}
.overops-quality-report .mr-2 {
    margin-right: 16px;
}
.overops-quality-report .mx-1 {
    margin-right: 8px;
    margin-left: 8px;
}
.overops-quality-report .ml-2 {
    margin-left: 32px;
}
.overops-quality-report .mb-2 {
    margin-bottom: 16px;
}
.overops-quality-report .mt-3 {
    margin-top: 32px;
}
.overops-quality-report .mt-4 {
    margin-top: 40px;
}
.overops-quality-report .mb-5 {
    margin-bottom: 64px;
}
.overops-quality-report .w-25 {
    width: 25%!important;
}
.overops-quality-report .alert {
    margin: 32px 0;
    padding: 8px 0;
    border-color: transparent;
    border-width: 2px;
    border-radius: 3px;
    border-style: solid;
    font-size: 14px;
    color: #333;
}
.overops-quality-report .alert-success {
    background-color: hsl(78, 100%, 97%);
    border-color: hsl(81, 51%, 76%);
}
.overops-quality-report .alert-warning {
    background-color: hsl(55, 75.0%, 96.9%);
    border-color: hsl(55, 51%, 76%);
}
.overops-quality-report .alert-danger {
    background-color: hsl(10, 75.0%, 96.9%);
    border-color: hsl(7, 65.9%, 82.7%);
}
.overops-quality-report .alert-muted {
    background-color: #f5f5f5;
    border-color: #ccc;
}
.overops-quality-report .table {
    border-collapse: collapse;
    width: 100%;
}
.overops-quality-report .table thead th {
    vertical-align: bottom;
    text-align: left;
    white-space: nowrap;
    background-color: hsl(0, 0%, 81%);
    font-size: 14px;
}
.overops-quality-report .table td,
.overops-quality-report .table th {
    line-height: 1;
    padding: .75rem;
    vertical-align: top;
    white-space: nowrap;
    max-width: calc(50vw - 360px); /* jenkins sidebar is 360px wide */
    overflow: hidden;
    text-overflow: ellipsis;
}
.overops-quality-report .table-striped tbody tr:nth-of-type(even) {
    background-color: hsl(216, 100%, 98%);
}
.overops-quality-report .muted {
    color: hsl(0, 0%, 60%);
}
.overops-quality-report hr {
    margin: 16px 0;
}
.overops-quality-report code {
    font-weight: 700;
    display: inline-block;
}
.overops-quality-report ul.unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}
.overops-quality-report ul.unstyled > li {
    margin: .5em 0;
}

svg:not(.overopsLogo) {
    height: 24px;
    width: 24px;
    margin: 0px 8px 0px 0px;
}

.alert svg {
    height: 48px;
    width: 48px;
    margin: 0px 8px 0px 8px;
}

#reportSummary svg {
    width: 20px;
    height: 20px;
    margin: -5px 5px -5px -10px;
}